<a id='code'></a>

## <span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;"> Graduate Admissions Data Set:

This dataset is created for prediction of Graduate Admissions from an Indian perspective.

1. GRE Scores ( 290 of 340 ) 
2. TOEFL Scores ( 92 of 120 ) 
3. University Rating ( 1 of 5 )
4. Statement of Purpose ( 1 of 5 )  
5. Letter of Recommendation Strength ( 1 of 5 ) 
6. Undergraduate GPA ( 6.8 of 10 ) 
7. Research Experience ( 0 or 1 ) 
8. Chance of Admit ( ranging from  0.34 to 0.97)

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">1.1 Load the libraries:

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">1.2 Import the dataset(Admission_Predict.csv):

In [2]:
# Import the dataset named 'Admission_predict.csv'
GradAdmin_df = pd.read_csv('Admission_Predict.csv')

# Read the first five rows of the dataset.
GradAdmin_df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">1.3 Check the Dimension of data

In [3]:
GradAdmin_df.shape

(400, 9)

#### There are 400 Observations / Rows and 9 Attributes / Columns.

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">1.4 Dropping the data which doesn't contribute for analysis

In [4]:
# To drop a column from the original dataframe
GradAdmin_df_refined = GradAdmin_df.drop('Serial No.', axis=1)#('Serial No.', axis=1, inplace=True)
GradAdmin_df_refined.shape
GradAdmin_df_refined.head() # Shape of the dataset after dropping Serail No. column

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">1.5 Check the Information about the data and the datatypes of each respective attributes.

In [5]:
# To see the data type of each of the variable, number of values entered in each of the variables
GradAdmin_df_refined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    int64
 7   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(4)
memory usage: 25.1 KB

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">1.6 Describe the dataset

In [6]:
# The output results provide the five number summary of the data.
GradAdmin_df_refined.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,0.724350
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,0.142609
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,0.340000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,0.640000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,0.730000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,0.830000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,0.970000

<span style="font-family: Arial; font-weight:bold;font-size:1.5em;color:#00b3e5;">